<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 p-0 mt-5 col-12">
      <mat-card class="px-4 pt-3">
        <mat-card-title class=" mb-3">{{ 'Login' | translate }}</mat-card-title>
        <mat-card-content class="px-0">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
            <div class="d-flex flex-column">

              <mat-form-field class="w-100 mb-3" appearance="fill">
                <mat-label>{{ 'User name' | translate }}</mat-label>
                <input formControlName="username" type="text" matInput />
                <mat-error *ngIf="loginForm.get('username')?.hasError('required')">{{ 'Please enter username' | translate }}</mat-error>
                <mat-error *ngIf="loginForm.get('username')?.hasError('pattern')">{{ 'Please enter a valid username' | translate }}</mat-error>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3" appearance="fill">
                <mat-label>{{ 'Password' | translate }}</mat-label>
                <input formControlName="password" type="password" placeholder="{{ 'Password' | translate }}" matInput />
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">{{ 'Please enter password' | translate }}</mat-error>
              </mat-form-field>

            </div>
            <div class="button">
              <button type="submit" mat-raised-button color="primary">{{ 'Login' | translate }}</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
