<!-- If the user has role is admin -->
<ng-container *ngIf="auth.isAdmin(); else userNavbar">
  <mat-toolbar color="primary" class="d-fle justify-content-between">
    <span>{{ "Angular store" | translate}}</span>
    <div>
      <a *ngIf="auth.isAuth$ | async" mat-button [routerLink]="['/admin']">{{"All Products" | translate}}</a>
      <a *ngIf="auth.isAuth$ | async" mat-button [routerLink]="['/admin/new']">{{"Add new product" | translate}}</a>
      <a *ngIf="auth.isAuth$ | async" mat-button (click)="logout()">{{"Logout" | translate}}</a>
      <span class="mx-1" *ngIf="auth.isAuth$ | async"> |</span>
      <button mat-button *ngIf="translate.currentLang === 'ar'" (click)="localizService.switchLanguage('en')">
        EN</button>
      <button mat-button *ngIf="translate.currentLang === 'en'" (click)="localizService.switchLanguage('ar')">
        عربي </button>
    </div>
  </mat-toolbar>
</ng-container>


<!-- If the user has role is regualr -->
<ng-template #userNavbar>
  <mat-toolbar color="primary" class="d-fle justify-content-between">
    <span>{{ "Angular store" | translate}}</span>
    <div>
      <a *ngIf="auth.isAuth$ | async" mat-button [routerLink]="['/store']">{{"All Products" | translate}}</a>
      <a *ngIf="auth.isAuth$ | async" mat-button (click)="logout()">{{"Logout" | translate}}</a>
      <span class="mx-1" *ngIf="auth.isAuth$ | async"> |</span>
      <button mat-button *ngIf="translate.currentLang === 'ar'" (click)="localizService.switchLanguage('en')">
        EN</button>
      <button mat-button *ngIf="translate.currentLang === 'en'" (click)="localizService.switchLanguage('ar')">
        عربي </button>
    </div>
  </mat-toolbar>

</ng-template>
