<mat-toolbar color="primary" class="d-fle justify-content-between">
  <span>Angular Store</span>

  <div>
    <span class="spacer"></span>
    <button mat-button *ngIf="translate.currentLang=== 'en'" (click)="switchLanguage('ar')" >{{"ENGLISH" | translate}}</button>
    <button mat-button *ngIf="translate.currentLang=== 'ar'" (click)="switchLanguage('en')" >{{"ARABIC" | translate}}</button>

    <ng-template *ngIf="!(auth.isAuth$ | async)" #loginTemplate>
      <a mat-button routerLink="/auth">Login</a>
    </ng-template>
  </div>
</mat-toolbar>
