html[dir="rtl"] {
  direction: rtl;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  app-root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    router-outlet + * {
      flex-grow: 1;
    }
  }
}

.mat-mdc-paginator-range-label{
  margin: 0!important;
}
